@page "/admin/role/edit"
@model ProjectShopIdentity.Areas.Identity.Pages.Role.EditModel
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="@Model.StatusMessage"> </partial>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="inputModel.Name" class="control-label"></label>
                <input asp-for="inputModel.Name" class="form-control" />
                <span asp-validation-for="inputModel.Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-info" asp-page="./Index">Back to List</a>
            </div>
        </form>
        <hr />
        <p>Cac dac tinh cua role(Claim) <a asp-page="./AddRoleClaim" asp-route-roleID="@Model.role.Id">Them Claim</a></p>
        @if (Model.Claims.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.Claims)
                {

                    <li>
                        <a asp-page="./EditRoleClaim" asp-route-claimID="@claim.Id">
                            @claim.ClaimType
                            : @claim.ClaimValue
                        </a>
                    </li>

                }
            </ul>
        }
    </div>
</div>




@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
